html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input {
  border: 0;
  border-radius: 0;
  color: inherit;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: normal;
  font-family: "Raleway";
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

html {
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
}

button,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

abbr,
abbr[title] {
  text-decoration: none;
  border-bottom: none;
}

button {
  background: none;
  cursor: pointer;
}

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Raleway-SemiBold.ttf");
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway";
  font-weight: 400;
  margin: 0;
}

h1 {
  font-weight: 400;
}

.Main {
  width: 100%;
  position: relative;
  top: 100vh;
  min-height: 100vh;
  background-color: #a9a9a9;
}

.Landing {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1c1c1e;
  padding: 16px;
}

@media (min-width: 768px) {
  .Landing {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.Landing-title {
  color: #fff;
  font-size: 72px;
}

@media (min-width: 768px) {
  .Landing-title {
    text-align: center;
  }
}

.Landing-name {
  color: #39aea9;
  font-weight: 600;
}

.Landing-cta {
  font-size: 24px;
  color: #fff;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 16px;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  position: relative;
  vertical-align: middle;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
  min-width: 300px;
}

.Landing-cta::before, .Landing-cta::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.Landing-cta::before {
  top: 0;
  left: 0;
}

.Landing-cta::after {
  bottom: 0;
  right: 0;
}

.Landing-cta:hover {
  color: #39aea9;
}

.Landing-cta:hover::before, .Landing-cta:hover::after {
  width: 100%;
  height: 100%;
}

.Landing-cta:hover::before {
  border-top-color: #39aea9;
  border-right-color: #39aea9;
  -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out 0.2s;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out 0.2s;
}

.Landing-cta:hover::after {
  border-bottom-color: #39aea9;
  border-left-color: #39aea9;
  -webkit-transition: border-color 0s ease-in-out 0.4s, width 0.2s ease-in-out 0.4s, height 0.2s ease-in-out 0.6s;
  transition: border-color 0s ease-in-out 0.4s, width 0.2s ease-in-out 0.4s, height 0.2s ease-in-out 0.6s;
}

.Landing-cta::after {
  top: 0;
  left: 0;
}

.Landing-cta:hover::after {
  border-bottom-color: #39aea9;
  border-left-color: #39aea9;
  -webkit-transition: height 0.2s ease-in-out, width 0.2s ease-in-out 0.2s;
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out 0.2s;
}
/*# sourceMappingURL=style.css.map */