body
{
  display: flex;
  font-family: $font-family-main;
  font-weight: $font-weight-normal;
  margin: 0;
  overflow: hidden;
}

html
{
  overflow: hidden;
}

h1
{
  font-weight: $font-weight-normal;
}

*:focus
{
  outline: 0;
  box-shadow: 0 0 0 1px $brand-tertiary;
}
