$font-family-main: 'Raleway' !default;

$font-weight-bold: 700 !default;
$font-weight-semibold: 600 !default;
$font-weight-normal: 400 !default;
$font-weight-light: 300 !default;

$brand-primary: #D9D6E4 !default;
$brand-secondary: #BDC7DE !default;
$brand-tertiary: #8BA7C4 !default;
$brand-quaternary: #3E7A93 !default;
$brand-quinary: #D7B0C2 !default;
$brand-senary: #EFD5DE !default;

$gray-1: #1c1c1e !default;
$gray-2: #a9a9a9 !default;
$gray-3: #efefef !default;
$gray-4: #3a3a3a !default;

$white: #fff !default;
$black: #000 !default;

$padding-default: 16px !default;
$padding-narrow: 8px !default;

$screen-xs-min: 480px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

$shadow-default: 0px 0px 10px rgba(0,0,0,.5) !default;
$transition-default: all 0.2s ease-in-out;
