$font-family-main: 'Raleway' !default;

$font-weight-bold: 700 !default;
$font-weight-semibold: 600 !default;
$font-weight-normal: 400 !default;
$font-weight-light: 300 !default;

$brand-primary: #e5efc1 !default;
$brand-secondary: #a2d5ab !default;
$brand-tertiary: #39aea9 !default;
$brand-quaternary: #557b83 !default;

$gray-1: #1c1c1e !default;
$gray-2: #a9a9a9 !default;
$gray-3: #efefef !default;

$white: #fff !default;
$black: #000 !default;

$padding-default: 16px !default;
$padding-narrow: 8px !default;

$screen-xs-min: 480px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;
